* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

p, li, a {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

title {
 flex: 1;
}

nav {
  height:48px;
  background-color: #D160BE;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  padding: 13px 0 0 14px;
}

header {
  text-align: right;
  padding: 0;
  margin: 2em;
  opacity: 0.7;
  bottom: 0;
  position: absolute;
}

header h2 {
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

header a {
  font-family: 'Pacifico', cursive;
  color: #fff;
  padding: .4em 1em .4em 1em;
  border-style: solid;
  border-radius: 30px;
  border-width: 6px;
}

a {
  text-decoration: none;
}

footer {
  color: #fff;
  background-color: #D160BE;
}

footer img {
  width: 32px;
  margin: 15px 4px 10px 4px;
}

.hbmenu {
  padding: 12px 14px 0 0;
}

.hbmenu div {
  flex: 1;
}

.social {
  display: flex;
  justify-content: center;
}

.social li {
  flex: 1;
  display:inline-block;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  font-size: 0.8em;
  margin: 1em .4em 1em .4em;
  flex: 1;
  display: inline-block;
}
.menu li:hover {
font-weight: bold;
text-decoration: underline;
cursor: pointer;
}

.container_image {
  background-image: url("../images/mainbg-image.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
