* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

p, li, a {
  font-family: 'Raleway', sans-serif;
  color: rgb(2, 0, 0);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 1.1em;
  color: #fff;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: #fff;
}

.menu li {
  color: #000;
}

.menu li:hover {
  font-weight: bold;
  cursor: pointer;
}

.logo {
  font-size: 1.1em;
  font-weight: 700;
  height: 56px;
  line-height: 56px;
  margin: 0;
  padding: 0 16px;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}

footer {
  background-color: #D160BE;
}

footer img {
  width: 32px;
  margin: 15px 4px 10px 4px;
}

.bottom-menu {
  display: flex;
  justify-content: center;
}

.bottom-menu li {
  flex: 1;
  display:inline-block;
  font-size: 0.8em;
  padding: 0 0 1em 0;
}

.container_image {
  position: relative;
  background-image: url("../images/mainbg-image.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.content-img-text {
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  bottom: 0;
  margin: 2em;
}

.content-img-text h2 {
  margin-bottom: 1em;
  text-align: right;
  padding: 0;
  opacity: 0.7;
  text-shadow: 0px 0px 6px #000;
}

.content-img-text a {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #fff;
  padding: .4em 1em .4em 1em;
  opacity: 0.7;
  border-style: solid;
  border-radius: 30px;
  border-width: 6px;
  text-shadow: 0px 0px 6px #000;
}

.social {
  display: flex;
  justify-content: center;
}

.social li {
  flex: 1;
  display:inline-block;
}

.content {
  color: #000;
}

.header {
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #D160BE;
  opacity: 0.7;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #D160BE;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.2em;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}